[package]
name = "evolutionary_algorithms"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
num = "0.4.0"
itertools = "0.10.2"
csv = "1.1.6"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.79"